venv/
venv/Lib/site-packages/requests-2.19.1.dist-info/DESCRIPTION.rst
venv/Lib/site-packages/requests-2.19.1.dist-info/INSTALLER
venv/Lib/site-packages/requests-2.19.1.dist-info/LICENSE.txt
venv/Lib/site-packages/requests-2.19.1.dist-info/metadata.json
